﻿@using E_Commers.MvcWebUI.Models;
@model IEnumerable<ProductModel>
<div class="row">
    @foreach (ProductModel item in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card">
                <img class="card-img-top" src="@item.Image" alt=@item.Name>
                <div class="card-body">
                    <h5 class="card-title"><a href="Home/Details/@item.Id">@item.Name</a></h5>
                    <p class="card-text pt-2 description">@item.Description</p>
                </div>
                <div class="card-footer">
                    <i class="fa fa-try">
                        <small class="text-muted product-price">@item.Price</small>
                    </i>
                    <a href="/Home/Details/@item.Id" class="btn btn-primary btn-sm float-right">
                        <i class="fa fa-angle-double-right"></i>                            
                        Ürünü İncele
                    </a>
                </div>
            </div>
        </div>
    }
</div>

