.jumbotron{
    background-image: url("http://imagemonster.com/wp-content/uploads/2015/03/rev-extended.jpg");
    background-size: cover;
    color:aqua;
    height: 100%;
}
#write-review
{
    margin-left:-50px;
}
#product-price
{
    font-size: 20px;
    color: red;
}
.card-title{
    font-size : 16px;
    font-weight : 400;
    color : #484848;
    line-height : 1.35em;
    height:34px;
}
.cart-text{
    font-size:12px;
}
.product-price{
    color : #414141;
    font-weight:700;
    font-size : 17px;
}
.product-details h1{
    font-size:20px;
    font-weight:700;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.description{
    font-size:12px;
    height : 40px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
/*.navbar{
    margin: 0px !important;
    position: absolute;
}*/ 
code {
  font-size: 80%;
}