﻿@using E_Commers.MvcWebUI.Entity;
@model IEnumerable<Category>
@{
    var selectedCategory = Url.RequestContext.RouteData.Values["id"];
}
<div class="list-group">
    <a class="list-group-item" href="/Home/List">
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        Tüm Kategoriler
    </a>
    @foreach (Category item in Model)
    {
        if (selectedCategory != null)
        {
            if (item.Id == int.Parse(selectedCategory.ToString()))
            {
                <a class="list-group-item active" href="/Home/List/@item.Id">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    @item.Name
                </a>
            }
            else
            {
                <a class="list-group-item" href="/Home/List/@item.Id">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    @item.Name
                </a>
            }
        }
        else
        {
            <a class="list-group-item" href="/Home/List/@item.Id">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                @item.Name
            </a>
        }
    }
</div>

