﻿@using E_Commers.MvcWebUI.Models;
@model IEnumerable<ProductModel>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container pb-5">
    <div class="row">
        <div class="col-md-3">
            @Html.Action("GetCategories","Home")
        </div>
        <div class="col-md-9">
            <div class="row">
                @if (Model.Count() == 0) {
                    <div class="alert alert-warning" role="alert">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        Bu Kategoride ürün bulunamadı.
                    </div>
                }
                else
                {
                    <div class="alert alert-success" role="alert">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                        <strong>@Model.Count() adet </strong> ürün bulundu.
                    </div>
                }
@*                <div class="card-deck">*@
                    @Html.Partial("_ProductList", Model)
@* </div> *@                
            </div>
        </div>
    </div>
</div>
